<div class="d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href=<%=  pagination.first %>>Newest</a>
            </li>
            <% if (pagination.prev != null) {%>
            <li class="page-item"><a class="page-link"
                    href=<%= pagination.prev %>><%=  pagination.prev.split('/').slice(-1).pop() %> </a></li>
            <% } %>

            <li class="page-item active">
                <span class="page-link">
                    <%=  'Page ' + pagination.current.split('/').slice(-1).pop() %>
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link"
                    href=<%=  pagination.next %>><%=  pagination.next.split('/').slice(-1).pop() %> </a></li>
        </ul>
    </nav>
</div>