<% if ( user == undefined) {%>
<%- include('./comment-disabled') %>
<% } else { %>
<div class="container mt-5">
    <div class="card" id="comment-form">
        <div class="card-header">
            Posting as <%= user.username %>
        </div>
        <div class="card-body">
            <form action=<%= `/api/comment/${paperID}` %> method="post">
                <div class="hidden">
                    <label for="parentID"></label>
                    <input name='parentID' value='<%= parentID %>'>
                </div>
                <div class="form-group">
                    <label for=<%=`comment-${paperID}`%>></label>
                    <textarea name="commentBody" class="form-control" id=<%=`comment-${paperID}`%> rows="4"
                        placeholder="Ask a question or leave a comment!" required></textarea>
                    <input type="submit" value="Submit" class="btn btn-success mt-3">
                </div>
            </form>
        </div>
    </div>
</div>
<% } %>