<!-- copied from https://github.com/ZsharE/threaded-comments-bootstrap -->

<div class="timeline-comment-wrapper">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h5 style="color: blue;"><%= comment.username%></h5>
            <div class="comment-date"><%= comment.date %></div>
        </div>
        <div class="card-body">
            <p class="card-text"><%= comment.commentBody %></p>
        </div>
        <div class="card-footer bg-white p-2">
            <div id=<%= `reply-form-${comment._id}` %> class="hidden">
                <%- include('./post-comment',{parentID:comment._id,user:user}) %></div>
            <button id=<%= `reply-btn-${comment._id}` %> type="button" class="btn btn-secondary btn-sm">Reply</button>
        </div>
    </div>
</div>

<script>

    var comment = JSON.parse('<%- JSON.stringify(comment) %>');
  
    linkButtonToForm(comment._id)

    function linkButtonToForm(commentID) {
        // Link reply button so it opens up a form:
        const button = document.getElementById(`reply-btn-${commentID}`)
        const form = document.getElementById(`reply-form-${commentID}`)
        button.addEventListener('click', () => {
            if (form.classList.contains('hidden')) {
                form.classList.remove('hidden')
            } else {
                form.classList.add('hidden')
            }
        })
    }
</script>