<!-- copied from https://github.com/ZsharE/threaded-comments-bootstrap -->
<!-- view for a single comment in thread -->
<!-- args:comment -->
<div class="timeline-comment-wrapper">
    <div class="card">
        <div class="card-header my-auto">
            <p class="comment-date float-right"><%= comment.date %></p>
            <a href=<%= `/user-public/${comment.userID}` %>>
                <h5 class="lead mr-1"><%= comment.username%></h5>
            </a>
        </div>
        <div class="card-body">
            <p class="card-text"><%- comment.commentBody %></p>
        </div>
        <div class="card-footer bg-white p-2">
            <div id=<%= `reply-form-${comment._id}` %> class="hidden">
                <%- include('./post-comment',{comment:comment,user:user}) %></div>
            <button style="border: none;" id=<%= `reply-btn-${comment._id}` %> type="button"
                class="btn btn-outline-primary btn-sm"><i class="fa fa-reply"></i> Reply</button>
        </div>
    </div>
</div>

<script>
    // Script to show reply form 
    var commentID = '<%=(comment._id) %>'
    linkButtonToForm(commentID)

    function linkButtonToForm(commentID) {
        // Link reply button so it opens up a form:
        const button = document.getElementById(`reply-btn-${commentID}`)
        const form = document.getElementById(`reply-form-${commentID}`)
        button.addEventListener('click', () => {
            if (form.classList.contains('hidden')) {
                form.classList.remove('hidden')
            } else {
                form.classList.add('hidden')
            }
        })
    }
</script>