<div class="sticky-top h-100">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fa fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3"></div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fa fa-fw fa-tachometer-alt"></i>
                <span><%= `Welcome, ${user.username}`  %></span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link " href=<%= `/user/${user._id}/notifications` %>>
                <i class="fa fa-bell"></i>
                <span>Notifications <span class="badge badge-danger"><%= myData.unread %> </span>
                </span>
            </a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link " href=<%= `/user/${user._id}/recent-upvotes` %>>
                <i class="fa fa-arrow-up"></i>
                <span>Upvoted papers</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href=<%= `/user/${user._id}/recent-comments` %>>
                <i class="fa fa-comments"></i>
                <span>Comments</span>
            </a>
        </li>

    </ul>
</div>