<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>disXourse - About</title>
    <%- include('partials/head') %>
    <%- include('partials/twitter-card') %>
</head>

<body>
    <%- include('partials/navbar',{user:myData.user}) %>

    <h1 class="container-fluid text-center display-3 mt-5 mt-5">About </h1>
    <div class="container mt-5">
        <hr>
        <p>
            disXourse is a platform/community around discussing the latest arXiv papers with
            researchers in your field.
            The main goal of this website is to advance the concept of a journal club into something that is
            multi-institutional and connects researchers from all over the world.
        </p>
        <h5>Voting and Comments</h5>
        <hr>
        <p>
            The comments section is a place to share your thoughts and have a discussion on a paper. Questions are
            especially encouraged! By
            selecting the 'Notify Author'
            checkbox before posting a comment, the author will also get notified via email of your comment. In
            general,
            please try and keep comments constructive. We
            want disXourse to be a place where everyone, from novice to expert, feels comfortable
            leaving comments and asking so-called “dumb” questions.
        </p>

        <p>
            disXourse allows users to reply to other's comments in a thread which helps keep a conversation going.
            Everytime you upvote or comment on a paper, you automatically
            'follow' the discussion for that paper and will get notified when another user comments.
        </p>

        <h5>Groups</h5>
        <hr>
        <p>
            Groups help you organize weekly journal clubs.
            In a group, voting is no longer anonymous. You can see all the votes of the other group members over the
            past week. This helps you decide on what papers to discuss.
        </p>
        <hr>
        <p> disXourse was built and is currently maintained by <a href="https://www.colorado.edu/aps/neeraj-kulkarni">
                Neeraj Kulkarni</a>. The source code for disxourse is available on <a
                href="https://github.com/neerajkulk/disxourse" target="_blank">GitHub</a>. Feel free to submit a pull
            request. Get in touch by
            sending a message to <a href="mailto:disXourse@gmail.com">disXourse@gmail.com</a>. <strong> If you like
                using disXourse, please consider donating on <a href="https://www.patreon.com/disxourse"> patreon </a>.
                This will help cover
                server hosting costs and allow me to keep developing the site.</strong>

        </p>

    </div>

    <br>

    <%- include('partials/footer') %>

    <%- include('partials/bottomScripts') %>
</body>

</html>