<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Groups </title>
    <%- include('partials/head') %>
    <%- include('partials/twitter-card') %>
</head>


<body>
    <%- include('partials/navbar',{user:myData.user}) %>

    <div class="container mt-5">

        <div class="jumbotron">
            <h1 class="display-4">Groups</h1>
            <p class="lead"> Organize papers in your group </p>
            <hr class="my-4">
            <p>
                In a group, you can see all the votes of the other group members over the past week. Groups are a great
                way to organize
                weekly journal clubs and decide on what
                papers to discuss!
            </p>
            <p class="lead">

                <a href="/new-group">
                    <button type="button" class="btn btn-primary my-3"> <i class="fa fa-plus"></i> Create a new
                        group</button>
                </a>
            </p>
        </div>

        <h4 class="my-3">Your groups:</h4>

        <% for(var i=0; i < myData.groups.length; i++) { %>

        <div class="row my-4">
            <div class="col-md-10">
                <a href="/group/<%=myData.groups[i]._id%>/7"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= myData.groups[i].name %> </h5>
                    </div>
                    <p class="mb-1">Members: <%=myData.groups[i].members.join(', ') %></p>
                </a>
            </div>
            <div class="col-md-2 mt-3">
                <button type="button" class="btn btn-success" data-toggle="popover"
                    title="Share this link to let others join your group" data-content="<%=`
                    ${myData.baseURL}/join-group/${myData.groups[i]._id}
                    `%>">Add <i class="fa fa-user-plus"></i></button>
            </div>
        </div>
        <% } %>
    </div>


    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

    <%- include('partials/bottomScripts') %>

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>

</html>