<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>disXourse - Feed</title>
    <%- include('partials/head') %>
</head>


<body>
    <%- include('partials/navbar') %>
    <h1 class="container-fluid text-center display-4 mt-5 mt-5"><%= myData.title %> </h1>
    <div class="container mt-5 mb-5">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= myData.filter %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href=<%= `/feed/${myData.category}/newest/0` %>>Newest</a>
                <a class="dropdown-item" href=<%= `/feed/${myData.category}/top-week/0` %>>Top - Past Week</a>
                <a class="dropdown-item" href=<%= `/feed/${myData.category}/top-month/0` %>>Top - Past Month</a>
                <a class="dropdown-item" href=<%= `/feed/${myData.category}/top-all/0` %>>Top - All time</a>
            </div>
        </div>
    </div>
    <%- include('partials/papers',{papers:myData.papers,user:myData.user}) %>

    <%- include('partials/pagination',{
        pagination:myData.pagination,
        paperCount:myData.papers.length
        }) %>

    <%- include('partials/bottomScripts') %>



    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</body>

</html>