<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Paper</title>
    <%- include('partials/head') %>
</head>


<body>
    <!-- Empty DIV to store data. Front-end Javascript reads this -->
    <div id="my-data" style="display: none;"> <%- JSON.stringify(myData) %></div>
    <%- include('partials/navbar') %>
    <!-- TODO: Sidebar linking to other arxiv posts -->
    <h1 class="container text-center display-3 mt-5 mb-5 "><%= myData.title %> </h1>
    <section class="container" id="papers"></section>
    <%- include('partials/bottomScripts') %>


    <script src="/frontendJS/renderPapers.js"></script>
</body>

</html>