<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Paper</title>
    <%- include('partials/head') %>
</head>


<body>
    <!-- Empty DIV to store data. Front-end Javascript reads this -->
    <div id="my-data" style="display: none;"> <%= JSON.stringify(myData) %></div>
    <%- include('partials/navbar') %>
    <h1 class="container text-center display-3 mt-5 mb-5 "><%= myData.title %> </h1>
    <section class="container" id="papers">

        <!-- Loop through papers and display them-->
        <% for(let i=0; i < myData.papers.length; i++) { %>
        <% paperID = myData.papers[i]._id%>
        <div class="row" id="<%= paperID %>">
            <div class="col-sm-1">
                <% if (myData.user){%>
                <%- include('partials/upvote',{
                        paperID:paperID,
                        voteScore:myData.papers[i].voteScore,
                        userVote:myData.papers[i].userVote
                        }) %>
                <%} else { %>
                <%- include('partials/upvote-guest',{
                        paperID:paperID,
                        voteScore:myData.papers[i].voteScore,
                        }) %>
                <%} %>

            </div>
            <div class="col-sm-11">
                <h3>
                    <a href=<%= `/paper/${myData.papers[i].arxivID}` %>> <%= myData.papers[i].title %> </a>
                </h3>
                <p class="text-muted float-right"> <%= myData.papers[i].published.toDateString() %> </p>
                <p class="lead"> <%= myData.papers[i].authors %> </p>

                <p class="text-muted"> <%= myData.papers[i].abstract %> </p>
                <a href=<%= `/paper/${myData.papers[i].arxivID}#comments` %>>
                    <% if ( myData.papers[i].commentCount  > 0) { %>
                    <%= myData.papers[i].commentCount%>
                    <%} %>
                    <i class="fa fa-comments-o mb-5" aria-hidden="true"> </i>
                </a>
                <a class="twitter-share-button ml-5"
                    href="https://twitter.com/intent/tweet?text=<%=`/paper/${myData.papers[i].arxivID}`%>"
                    target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <% } %>
    </section>

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href=<%= `/new/${myData.category}/0` %>>Newest</a>
                </li>
                <% if (myData.page > 0) {%>
                    <li class="page-item"><a class="page-link" href="<%= `/new/${myData.category}/${myData.page - 1}` %>"><%= myData.page - 1%> </a></li>

                <% } %>

                <li class="page-item active">
                    <span class="page-link">
                        <%= myData.page %>
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item"><a class="page-link" href="<%= `/new/${myData.category}/${myData.page + 1}` %>"><%= myData.page + 1%> </a></li>
            </ul>
        </nav>
    </div>


    <%- include('partials/bottomScripts') %>



    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</body>

</html>