<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <%- include('partials/head') %>
</head>


<body>
    <%- include('partials/navbar',{user:myData.user}) %>

    <div class="container my-5">
        <h1 class="display-4 text-center mb-3">Search</h1>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <%- include('partials/advanced-search',{queryObj:myData.queryObj}) %>
            </div>
        </div>
    </div>
    <%- include('partials/papers',{papers:myData.papers,user:myData.user}) %>

    <%- include('partials/bottomScripts') %>



    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</body>

</html>