<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= myData.paper.title%> </title>
  <%- include('partials/head') %>
</head>


<body>
  <%- include('partials/navbar',{user:myData.user}) %>

  <div class="container text-center mt-5 mb-5">
    <div class="row">
      <div class="col-sm-1">
        <% if (myData.user){%>
        <%- include('partials/upvote',{
                      paperID:myData.paper._id,
                      voteScore:myData.paper.voteScore,
                      userVote:myData.paper.userVote
                       }) %>
        <%} else { %>
        <%- include('partials/upvote-guest',{
                       paperID:myData.paper._id,
                      voteScore:myData.paper.voteScore,
                      }) %>
        <%} %>
      </div>
      <h1 class="col-sm-11"><%= myData.paper.title %> </h1>
    </div>
  </div>

  <div class="mx-auto pdf-viewer">
    <iframe src=<%=myData.paper.pdfUrl + '#view=fitH'%> width="100%" height="100%" frameBorder="0"> Browser
      Not compatible
    </iframe>
  </div>

  <div class="container mt-5">
    <a href=<%= `https://arxiv.org/pdf/${myData.paper.arxivID}.pdf` %> target="_blank" ><i class="fa fa-external-link-square" style="font-size: 25px;"></i></a>
  </div>

  <div class="container my-5">
    <h2>Comments</h2>
  </div>

  <!-- Display comments-thread -->
  <%- include('partials/threaded-comments',{
    paperID:myData.paper._id,
    comments:myData.comments,
    user:myData.user}) %>


  <% if (myData.user){%>
  <!-- Form to post a new root comment -->
  <div class='my-5' id="comment-form">
    <%- include('partials/post-comment',{
    paperID:myData.paper._id,
    user:myData.user,
    comment:{
      parentID:null, // parent of root comment is null 
      depth:-1  // parent of root comment has depth = -1
    }
    }) %>

    <% } else { %>
    <%- include('partials/comment-disabled') %>
    <%} %>
  </div>


  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <%- include('partials/bottomScripts') %>

</body>

</html>