<!-- User's public page for other users to see -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= myData.pageUser.username %> </title>
    <%- include('partials/head') %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@disXourse" />
    <meta name="twitter:title" content="<%= myData.pageUser.username %>" />
    <meta name="twitter:description" content="Join the discussion on the latest arXiv astro papers!" />
    <meta name="twitter:image"
        content="https://lh3.googleusercontent.com/tMt4Bd38oC_fRiUiNch5W2Ys2FYspfsqv40WeOmRaXRNPn33Iv_UZutGLSUaqWDaddrjSJxynqo-OSH4qcVm7vSL-6O3-JZylKe2X_Rq30L4QK4n1dByQnWNZDxmBONo1lhn9aW-Cb6ifXqsEsCA2Tg8bi6DD77HKoHK-97sLVR1wX722bk3oczwQLeJzji9tdd27Eb_YMc8Cw8UO18PBO7PY97m1bBXik9_AtiflAmVoV9j6Pg7LpOwveSpBUJIs995o_3axzR_HJPhYmq9akZ4sCDTawr69_Ni9ueU7Ez0w7l0TaDLQdWPuiLWwy6C2s9lgVBTmyQROfbEO68YoHWeQ-P3QMX8zfMFRau4GlX-Us3AHZTXvg3DjbrQKMV5_qzM0JCIsHRhFv3dWtIyUBU5UvIRbwadj6wb-1uhXcYUrOGLOVlxU--vzQlIW9dCD34_kiiw4cPh0wcXCu-NWm7BTE2G3RMFGA5HqbEBEGlsTODgb6VNTmn60MmWewITnh1MH2SP7XKfFFzjwfA3WvKoxMuW5rs3fJxuNU8kE1GOGZ9XEXZyZOwojCb5xQsvKqFmvbcoT0KQDTO8fpJC0lLKlwQSGxSsdJ2_ilJv7QjuCpaNyTTejBaN7IO8bgG75ikcQ_1nYVJbl2PFKbrOZNM3FS8HfyBu2ilKLg4arKMOF6vdkJvP4_2IDclyWg=w454-h482-no?authuser=0" />

</head>


<body>
    <%- include('partials/navbar',{user:myData.user}) %>

    <style>
        .profile-header {
            transform: translateY(3rem);
        }
    </style>
    <div class="container mt-5" style="box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);">
        <!-- copied from: https://bootstrapious.com/p/bootstrap-profile-page -->
        <div class="px-5 bg-primary">
            <div class="media align-items-end profile-header">
                <div class="profile mr-3"></div>
                <div class="media-body mb-5 text-white">
                    <h1 class="mt-0 mb-0"><%= myData.pageUser.username %></h1>
                    <% var d = new Date(myData.pageUser.createdAt) %>
                    <h5 class="small mb-4"> User since <%= `${d.toLocaleDateString()}` %> </h5>
                </div>
            </div>
        </div>

        <div class="bg-light p-3 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block"><%= myData.commentCount %></h5><small class="text-muted">
                        <i class="fa fa-comments mr-1"></i>Comments</small>
                </li>
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block"><%= myData.voteCount %></h5><small class="text-muted"> <i
                            class="fa fa-arrow-up mr-1"></i>Votes on papers</small>
                </li>
            </ul>
        </div>
    </div>


    <div class="container my-5">
        <h2>Recent comments</h2>
        <hr>

        <!-- make this a partial -->
        <div class="container">
            <%- include('partials/user-commentData',{commentData:myData.commentData}) %>
        </div>

    </div>


    <%- include('partials/formatClientDate.ejs') %>


    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <%- include('partials/bottomScripts') %>

</body>

</html>